<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-04-02T15:06:47Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Mac OS X 10.8.5 Combo Update</string>
	<key>force_install_after_date</key>
	<date>2014-04-15T17:00:00Z</date>
	<key>installer_type</key>
	<string>apple_update_metadata</string>
	<key>name</key>
	<string>031-0630</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
