<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Firefox</string>
		<string>Google Chrome</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Adobe Flash Player</string>
	<key>force_install_after_date</key>
	<date>2014-04-01T17:00:00Z</date>
	<key>installed_size</key>
	<integer>18789</integer>
	<key>installer_item_hash</key>
	<string>2b6809667d7e5ab735f5f98baa1d7eba9654e7e553a3566d2d766ea78007ab94</string>
	<key>installer_item_location</key>
	<string>Adobe_Flash_Player-12.0.0.77.pkg</string>
	<key>installer_item_size</key>
	<integer>17526</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>12.0.0.77</string>
			<key>CFBundleVersion</key>
			<string>12.0.0.77</string>
			<key>path</key>
			<string>/Library/Internet Plug-Ins/Flash Player.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Adobe_Flash_Player</string>
	<key>receipts</key>
	<array/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.0.0.77</string>
</dict>
</plist>
