<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>root</string>
		<key>creation_date</key>
		<date>2014-07-29T14:06:09Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Evernote</string>
	<key>installer_item_hash</key>
	<string>ff989c115ecee2ac14050b02580007ce81d0567b95b8f01b2f5906ad4714759d</string>
	<key>installer_item_location</key>
	<string>Evernote-5.5.2.dmg</string>
	<key>installer_item_size</key>
	<integer>58189</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.evernote.Evernote</string>
			<key>CFBundleName</key>
			<string>Evernote</string>
			<key>CFBundleShortVersionString</key>
			<string>5.5.2</string>
			<key>CFBundleVersion</key>
			<string>402634</string>
			<key>minosversion</key>
			<string>10.6.6</string>
			<key>path</key>
			<string>/Applications/Evernote.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Evernote.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.6</string>
	<key>name</key>
	<string>Evernote</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.5.2</string>
</dict>
</plist>
