<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>localadmin</string>
		<key>creation_date</key>
		<date>2014-05-15T19:50:00Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Firefox</string>
		<string>Google Chrome</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Firefox Web Browser</string>
	<key>force_install_after_date</key>
	<date>2014-05-16T07:00:00Z</date>
	<key>installer_item_hash</key>
	<string>2da048865f16319ec2432d2e370bb42524f6e3e62b2a7889fe0969eac559fe3e</string>
	<key>installer_item_location</key>
	<string>Firefox-28.0.0.1.dmg</string>
	<key>installer_item_size</key>
	<integer>54954</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>CFBundleName</key>
			<string>Firefox</string>
			<key>CFBundleShortVersionString</key>
			<string>28.0.0.1</string>
			<key>CFBundleVersion</key>
			<string>2814.3.14</string>
			<key>minosversion</key>
			<string>10.6</string>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Firefox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6</string>
	<key>name</key>
	<string>Firefox</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>28.0.0.1</string>
</dict>
</plist>
