<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-04-21T18:35:41Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
		<string>pilot</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Google Drive</string>
	<key>installed_size</key>
	<integer>72267</integer>
	<key>installer_item_hash</key>
	<string>9518ffd5d55e49e2979fd27290a7b891e4c9bdde6f32e69f0a32040a4e5e67da</string>
	<key>installer_item_location</key>
	<string>Google_Drive-1.15.dmg</string>
	<key>installer_item_size</key>
	<integer>27244</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>43d4ef1be5b60f3a1724af59591fbc69</string>
			<key>path</key>
			<string>/Library/PrivilegedHelperTools/Google Drive Icon Helper</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.google.GoogleDrive</string>
			<key>CFBundleName</key>
			<string>Google Drive</string>
			<key>CFBundleShortVersionString</key>
			<string>1.15</string>
			<key>CFBundleVersion</key>
			<string>1.15.6464.0228</string>
			<key>path</key>
			<string>/Applications/Google Drive.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Google_Drive</string>
	<key>receipts</key>
	<array/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.15</string>
</dict>
</plist>
