<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2015-05-21T14:45:26Z</date>
		<key>munki_version</key>
		<string>2.2.3.2418</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
		<string>pilot</string>
	</array>
	<key>category</key>
	<string>Printer Drivers</string>
	<key>description</key>
	<string>Apple Hewlett-Packard Printer Driver Package</string>
	<key>developer</key>
	<string>Apple</string>
	<key>display_name</key>
	<string>Hewlett-Packard Printer Software</string>
	<key>installed_size</key>
	<integer>574263</integer>
	<key>installer_item_hash</key>
	<string>e30f023f438c14e93cc5cb4e4cdd3e2c76c70ce907d20eaef25d70492d8ca084</string>
	<key>installer_item_location</key>
	<string>HewlettPackardPrinterDrivers-3.0.pkg</string>
	<key>installer_item_size</key>
	<integer>551229</integer>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>HewlettPackardPrinterDrivers</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>883482</integer>
			<key>packageid</key>
			<string>com.apple.pkg.HewlettPackardPrinterDrivers</string>
			<key>version</key>
			<string>10.6.0.1.1.1238328574</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.0</string>
</dict>
</plist>
