<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-06-26T14:54:48Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>HP Color LaserJet Enterprise M651</string>
	<key>installed_size</key>
	<integer>145794</integer>
	<key>installer_item_hash</key>
	<string>1edc5e62c56ffc25b126f2925ceaa19ea84ac33c7f6e1c55b01ea1d59dba5975</string>
	<key>installer_item_location</key>
	<string>HP Color LaserJet Enterprise M651-12.33.0.pkg</string>
	<key>installer_item_size</key>
	<integer>60373</integer>
	<key>minimum_os_version</key>
	<string>10.9.0</string>
	<key>name</key>
	<string>HP_CLJ_M651</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>11669</integer>
			<key>packageid</key>
			<string>com.hp.print.DriverCore.A.pkg</string>
			<key>version</key>
			<string>1.8.2.150</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.33.0</string>
</dict>
</plist>
