<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Firefox</string>
		<string>Google Chrome</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Internet Browsers &amp; Plugins</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Oracle</string>
	<key>display_name</key>
	<string>Java 7 Update 45</string>
	<key>installed_size</key>
	<integer>147476</integer>
	<key>installer_item_hash</key>
	<string>917b2128827cc407c19f05b7ba145454f86fbb86d41355beb212abb5910065af</string>
	<key>installer_item_location</key>
	<string>Java-7.45.pkg</string>
	<key>installer_item_size</key>
	<integer>52062</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Java</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>147476</integer>
			<key>packageid</key>
			<string>com.oracle.jre</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.7.45</string>
</dict>
</plist>
