<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>root</string>
		<key>creation_date</key>
		<date>2014-09-04T16:30:30Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Java for OS X 2014-001</string>
	<key>installed_size</key>
	<integer>75203</integer>
	<key>installer_item_hash</key>
	<string>763dbfce974f5285a873380064db5e9e25c8266bfb3bd492e9912739edf749b3</string>
	<key>installer_item_location</key>
	<string>JavaForOSX-2014-001-2014.001.pkg</string>
	<key>installer_item_size</key>
	<integer>65244</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Java6</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>37058</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaEssentials</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>77982</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaForMacOSX107</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>206</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaMDNS</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>454</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaSecurity</string>
			<key>version</key>
			<string>1.0.0.0.1.1247562015</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2014.001</string>
</dict>
</plist>
