<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-04-25T15:23:06Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Firefox</string>
		<string>Google Chrome</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Internet Browsers &amp; Plugins</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Oracle</string>
	<key>display_name</key>
	<string>Java 7 Update 55</string>
	<key>installed_size</key>
	<integer>145180</integer>
	<key>installer_item_hash</key>
	<string>189f2f1216d70de42accbf9c928c9ea8ba7aa37b1c08e1404e5cc60aefb054bd</string>
	<key>installer_item_location</key>
	<string>jre-7u55-macosx-x64-7.55.dmg</string>
	<key>installer_item_size</key>
	<integer>49630</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>Java 7 Update 55</string>
			<key>CFBundleVersion</key>
			<string>1.7.55.13</string>
			<key>path</key>
			<string>/Library/Internet Plug-Ins/JavaAppletPlugin.plugin</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.3</string>
	<key>name</key>
	<string>Java</string>
	<key>receipts</key>
	<array/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.7.55</string>
</dict>
</plist>
