<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>root</string>
		<key>creation_date</key>
		<date>2014-04-07T13:48:20Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Apple</string>
	<key>display_name</key>
	<string>Keynote</string>
	<key>force_install_after_date</key>
	<date>2014-04-22T17:00:00Z</date>
	<key>installer_item_hash</key>
	<string>2a88e2877172f3c72f121c7559f6a9060584776ab51d1565a975b42cd33c887e</string>
	<key>installer_item_location</key>
	<string>Keynote-6.2.dmg</string>
	<key>installer_item_size</key>
	<integer>451081</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iWork.Keynote</string>
			<key>CFBundleName</key>
			<string>Keynote</string>
			<key>CFBundleShortVersionString</key>
			<string>6.2</string>
			<key>CFBundleVersion</key>
			<string>1861</string>
			<key>minosversion</key>
			<string>10.9</string>
			<key>path</key>
			<string>/Applications/Keynote.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Keynote.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>Keynote</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.2</string>
</dict>
</plist>
