<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-10-29T15:12:35Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.10</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>GarageBand Song Writer Drum Kits</string>
	<key>installed_size</key>
	<integer>1408516</integer>
	<key>installer_item_hash</key>
	<string>49c66535e87c1cf696c6ac20801c84506554851be9f42f5ea7dc1aa88d668314</string>
	<key>installer_item_location</key>
	<string>MAContent10_GB_StereoDrumKitsSongWriter-2.0.0.0.1.1256150330.pkg</string>
	<key>installer_item_size</key>
	<integer>1431369</integer>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>MAContent10_GB_StereoDrumKitsSongWriter</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>2166949</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MAContent10_GB_StereoDrumKitsSongWriter</string>
			<key>version</key>
			<string>2.0.0.0.1.1256150330</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>GarageBand-10.0.3</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>2.0.0.0.1.1256150330</string>
</dict>
</plist>
