<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-10-29T15:11:04Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.10</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Music &amp; Audio</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Apple</string>
	<key>display_name</key>
	<string>Garageband Rock Drum Kits</string>
	<key>installed_size</key>
	<integer>1668954</integer>
	<key>installer_item_hash</key>
	<string>8187ffff8ffd0ff7de9b3bfb8e254ed38814bd46b8cb55772b82339ad7337c74</string>
	<key>installer_item_location</key>
	<string>MAContent10_GB_StereoDrumKitsRock-2.0.0.0.1.1256150330.pkg</string>
	<key>installer_item_size</key>
	<integer>1714754</integer>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>MAContent10_GB_StereoDrumKitsRock</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>2567622</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MAContent10_GB_StereoDrumKitsRock</string>
			<key>version</key>
			<string>2.0.0.0.1.1256150330</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>GarageBand-10.0.3</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>2.0.0.0.1.1256150330</string>
</dict>
</plist>
