<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-05-08T14:02:50Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Garage Band Core Content</string>
	<key>installed_size</key>
	<integer>1280240</integer>
	<key>installer_item_hash</key>
	<string>f59315c07814f985e3315786ae52736cd08f95e81f1e19ae7496186c7ae256d9</string>
	<key>installer_item_location</key>
	<string>MAContent10_GarageBandCoreContent-2-2.0.0.0.1.1256150330.pkg</string>
	<key>installer_item_size</key>
	<integer>1501228</integer>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>MAContent10_GarageBandCoreContent</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>1969600</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MAContent10_GarageBandCoreContent</string>
			<key>version</key>
			<string>2.0.0.0.1.1256150330</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>GarageBand</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.0.0.0.1.1256150330</string>
</dict>
</plist>
