<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Microsoft Office for Mac 2011</string>
	<key>installed_size</key>
	<integer>1692184</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>office</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>required</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>components</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>word</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>excel</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>powerpoint</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>outlook</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>messenger</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>communicator</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>rdc</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>vb</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>proofing-tools</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>catalan</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>danish</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>dutch</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>english</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>finnish</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>french</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>german</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>italian</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>japanese</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>norwegian</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>portuguese</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>brazilian</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>spanish</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>swedish</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>czech</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>polish</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>russian</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>turkish</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>dcc</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>appsupport</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>1</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>fonts</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>automator</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>dock</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>ca2b4e48f22354655e1ea98f0700552d01aeaab8509f93f5cb641cee6fa2f4b3</string>
	<key>installer_item_location</key>
	<string>Microsoft_Office_2011-14.0.0.dmg</string>
	<key>installer_item_size</key>
	<integer>933598</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.microsoft.Excel</string>
			<key>CFBundleName</key>
			<string>Excel</string>
			<key>CFBundleShortVersionString</key>
			<string>14.0.0</string>
			<key>CFBundleVersion</key>
			<string>14.0.0</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Microsoft Excel.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.microsoft.Powerpoint</string>
			<key>CFBundleName</key>
			<string>PowerPoint</string>
			<key>CFBundleShortVersionString</key>
			<string>14.0.0</string>
			<key>CFBundleVersion</key>
			<string>14.0.0</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Microsoft PowerPoint.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.microsoft.Word</string>
			<key>CFBundleName</key>
			<string>Word</string>
			<key>CFBundleShortVersionString</key>
			<string>14.0.0</string>
			<key>CFBundleVersion</key>
			<string>14.0.0</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Microsoft Word.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Microsoft_Office_2011</string>
	<key>receipts</key>
	<array/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>14.0.0</string>
</dict>
</plist>
