<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>root</string>
		<key>creation_date</key>
		<date>2015-03-13T16:24:56Z</date>
		<key>munki_version</key>
		<string>2.1.1.2352</string>
		<key>os_version</key>
		<string>10.10.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string></string>
	<key>display_name</key>
	<string>Munki - Managed software installation for OS X</string>
	<key>installed_size</key>
	<integer>4869</integer>
	<key>installer_item_hash</key>
	<string>bb6924ab0190763b6d1914fa195a0bb068eec930220ac4b882e8f68046655433</string>
	<key>installer_item_location</key>
	<string>munkitools-2.2.3.2418.pkg</string>
	<key>installer_item_size</key>
	<integer>3097</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>munkitools</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>631</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>2.2.3.2418</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>139</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>2.2.3.2418</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4090</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>4.0.2413</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>2.0.0.1969</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.2.3.2418</string>
</dict>
</plist>
