<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>localadmin</string>
		<key>creation_date</key>
		<date>2014-03-20T20:26:45Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Apple</string>
	<key>display_name</key>
	<string>Pages</string>
	<key>installer_item_hash</key>
	<string>7d51af0f73226eb790f59ee1c695aed668ce1aa0da79fe6d7fac1537b051bfeb</string>
	<key>installer_item_location</key>
	<string>Pages-5.1.dmg</string>
	<key>installer_item_size</key>
	<integer>311792</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iWork.Pages</string>
			<key>CFBundleName</key>
			<string>Pages</string>
			<key>CFBundleShortVersionString</key>
			<string>5.1</string>
			<key>CFBundleVersion</key>
			<string>1769</string>
			<key>minosversion</key>
			<string>10.9</string>
			<key>path</key>
			<string>/Applications/Pages.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Pages.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>Pages</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.1</string>
</dict>
</plist>
