<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>root</string>
		<key>creation_date</key>
		<date>2014-04-07T13:51:47Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.1</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Pages</string>
	<key>force_install_after_date</key>
	<date>2014-04-22T17:00:00Z</date>
	<key>installer_item_hash</key>
	<string>3a74abb5b657d0fd58c5e5aff0428642e82c3d6d1248d0c51d0920242892d929</string>
	<key>installer_item_location</key>
	<string>Pages-5.2.dmg</string>
	<key>installer_item_size</key>
	<integer>319599</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iWork.Pages</string>
			<key>CFBundleName</key>
			<string>Pages</string>
			<key>CFBundleShortVersionString</key>
			<string>5.2</string>
			<key>CFBundleVersion</key>
			<string>1860</string>
			<key>minosversion</key>
			<string>10.9</string>
			<key>path</key>
			<string>/Applications/Pages.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Pages.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.9</string>
	<key>name</key>
	<string>Pages</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.2</string>
</dict>
</plist>
