<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2015-05-21T19:53:41Z</date>
		<key>munki_version</key>
		<string>2.2.3.2418</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Printer Drivers</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Apple</string>
	<key>display_name</key>
	<string>Savin Printer Software</string>
	<key>installed_size</key>
	<integer>12689</integer>
	<key>installer_item_hash</key>
	<string>7ef6ecd91f965ed734b839af00f94c5d0bc3077650b798dc095c12f17401c9b2</string>
	<key>installer_item_location</key>
	<string>SavinPrinterDrivers-2.5.pkg</string>
	<key>installer_item_size</key>
	<integer>14782</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>SavinPrinterDrivers</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>19522</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SavinPrinterDrivers</string>
			<key>version</key>
			<string>10.6.0.1.1.1238328574</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.5</string>
</dict>
</plist>
