<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>category</key>
	<string>Internet Browsers &amp; Plugins</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft® Silverlight™ Browser Plug-In</string>
	<key>installed_size</key>
	<integer>99420</integer>
	<key>installer_item_hash</key>
	<string>e19ff090263257366b62c55fe76a82327c53313328546caf4687b1e9ccbe20e6</string>
	<key>installer_item_location</key>
	<string>Silverlight-5.1.20513.0.dmg</string>
	<key>installer_item_size</key>
	<integer>14879</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Silverlight</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Silverlight-5.1.20513.0.pkg</string>
			<key>installed_size</key>
			<integer>99420</integer>
			<key>packageid</key>
			<string>com.microsoft.SilverlightInstaller</string>
			<key>version</key>
			<string>5.1.20513.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.1.20513.0</string>
</dict>
</plist>
