<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-06-13T14:30:54Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
		<string>production</string>
	</array>
	<key>description</key>
	<string>Smartboard Notebook Software and Tools</string>
	<key>display_name</key>
	<string>SmartBoard Tools</string>
	<key>installed_size</key>
	<integer>1900395</integer>
	<key>installer_item_hash</key>
	<string>539364a2c7286cfcdb54c7c310ba2f72c7e437da33ef15d594476677eb7dfbda</string>
	<key>installer_item_location</key>
	<string>SBNotebook-11.4-11.4.558.0.pkg</string>
	<key>installer_item_size</key>
	<integer>548164</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>SmartboardNB</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>20314</integer>
			<key>packageid</key>
			<string>com.smarttech.activationfram.a-cl42.pkg</string>
			<key>version</key>
			<string>2.1.13.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>20347</integer>
			<key>packageid</key>
			<string>com.smarttech.activationfram.a.pkg</string>
			<key>version</key>
			<string>2.1.41.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>25738</integer>
			<key>packageid</key>
			<string>com.smarttech.BoardToolsApps.pkg</string>
			<key>version</key>
			<string>11.4.110.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3945</integer>
			<key>packageid</key>
			<string>com.smarttech.boost.1.53.0.pkg</string>
			<key>version</key>
			<string>1.0.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3395</integer>
			<key>packageid</key>
			<string>com.smarttech.boost.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3029</integer>
			<key>packageid</key>
			<string>com.smarttech.boost.b.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2277</integer>
			<key>packageid</key>
			<string>com.smarttech.cairo.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>212</integer>
			<key>packageid</key>
			<string>com.smarttech.nbcrashreporter</string>
			<key>version</key>
			<string>1.0.3.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.smarttech.customerExperiencePostinstall.pkg</string>
			<key>version</key>
			<string>1.0.18.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.smarttech.customerExperiencePreinstall.pkg</string>
			<key>version</key>
			<string>1.0.18.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>52962</integer>
			<key>packageid</key>
			<string>com.smarttech.Diagnostics.pkg</string>
			<key>version</key>
			<string>11.4.558.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>500</integer>
			<key>packageid</key>
			<string>com.smarttech.filestore.a-cl42.pkg</string>
			<key>version</key>
			<string>2.3.31.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>208</integer>
			<key>packageid</key>
			<string>com.smarttech.filestore.A-gcc42.pkg</string>
			<key>version</key>
			<string>2.2.7.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>190</integer>
			<key>packageid</key>
			<string>com.smarttech.hwrframework.pkg</string>
			<key>version</key>
			<string>2.0,1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>28673</integer>
			<key>packageid</key>
			<string>com.smarttech.icu.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>17034</integer>
			<key>packageid</key>
			<string>com.smarttech.icu.b.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>104436</integer>
			<key>packageid</key>
			<string>com.smarttech.labview12.a.pkg</string>
			<key>version</key>
			<string>2.1.1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>73881</integer>
			<key>packageid</key>
			<string>com.smarttech.labview8.5.a.pkg</string>
			<key>version</key>
			<string>2.1.1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>582</integer>
			<key>packageid</key>
			<string>com.smarttech.libLogger.b.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>414</integer>
			<key>packageid</key>
			<string>com.smarttech.localization.2.pkg</string>
			<key>version</key>
			<string>2.0.105.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>385</integer>
			<key>packageid</key>
			<string>com.smarttech.localization.a.pkg</string>
			<key>version</key>
			<string>2.1.7.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>17039</integer>
			<key>packageid</key>
			<string>com.smarttech.mathtype.b.pkg</string>
			<key>version</key>
			<string>2.1.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>747</integer>
			<key>packageid</key>
			<string>com.smarttech.preference.a-cl42.pkg</string>
			<key>version</key>
			<string>2.3.31.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>297</integer>
			<key>packageid</key>
			<string>com.smarttech.preference.A-gcc42.pkg</string>
			<key>version</key>
			<string>2.2.7.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1651</integer>
			<key>packageid</key>
			<string>com.smarttech.redland.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>28933</integer>
			<key>packageid</key>
			<string>com.smarttech.SBWDK.pkg</string>
			<key>version</key>
			<string>1.1.58.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>728</integer>
			<key>packageid</key>
			<string>com.smarttech.sdc</string>
			<key>version</key>
			<string>2.0.23.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>20665</integer>
			<key>packageid</key>
			<string>com.smarttech.smartInk</string>
			<key>version</key>
			<string>2.0.1725.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>164971</integer>
			<key>packageid</key>
			<string>com.smarttech.notebook10</string>
			<key>version</key>
			<string>11.4.549.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>116</integer>
			<key>packageid</key>
			<string>com.smarttech.nbsdkas3</string>
			<key>version</key>
			<string>11.4.549.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>85971</integer>
			<key>packageid</key>
			<string>com.smarttech.boardDrivers.pkg</string>
			<key>version</key>
			<string>11.4.558.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>121445</integer>
			<key>packageid</key>
			<string>com.smarttech.qt4.8.4.1</string>
			<key>version</key>
			<string>4.8.4.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>107362</integer>
			<key>packageid</key>
			<string>com.smarttech.qt4.8.4.2</string>
			<key>version</key>
			<string>4.8.4.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2525</integer>
			<key>packageid</key>
			<string>com.smarttech.uninstaller.pkg</string>
			<key>version</key>
			<string>1.3.27.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>15293</integer>
			<key>packageid</key>
			<string>com.smarttech.pkg.Activation</string>
			<key>version</key>
			<string>3.5.61.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>637</integer>
			<key>packageid</key>
			<string>com.smarttech.pkg.Harvester</string>
			<key>version</key>
			<string>1.3.10.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>96594</integer>
			<key>packageid</key>
			<string>com.smarttech.SMARTHWR.pkg</string>
			<key>version</key>
			<string>1.1.1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1725</integer>
			<key>packageid</key>
			<string>com.smarttech.spidermonkey.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.smarttech.StartToolsandService.pkg</string>
			<key>version</key>
			<string>11.4.558.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1</integer>
			<key>packageid</key>
			<string>com.smarttech.systemtrayicon.pkg</string>
			<key>version</key>
			<string>11.4.558.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>199</integer>
			<key>packageid</key>
			<string>com.smarttech.webinterface.NB11.pkg</string>
			<key>version</key>
			<string>2.1.12.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12140</integer>
			<key>packageid</key>
			<string>com.smarttech.xalan.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9590</integer>
			<key>packageid</key>
			<string>com.smarttech.xerces.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10335</integer>
			<key>packageid</key>
			<string>com.smarttech.xqilla.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1872</integer>
			<key>packageid</key>
			<string>com.smarttech.xtgrading.a.pkg</string>
			<key>version</key>
			<string>2.2.7.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1406</integer>
			<key>packageid</key>
			<string>com.smarttech.xthink.a.pkg</string>
			<key>version</key>
			<string>2.1.1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>586</integer>
			<key>packageid</key>
			<string>com.smarttech.ziparchive.a.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>293</integer>
			<key>packageid</key>
			<string>com.smarttech.ziparchive.nb11.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.4.558.0</string>
</dict>
</plist>
