<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
	</array>
	<key>description</key>
	<string>Sophos Anti-Virus Installer Metapackage</string>
	<key>display_name</key>
	<string>Sophos Anti-Virus</string>
	<key>installed_size</key>
	<integer>231620</integer>
	<key>installer_item_hash</key>
	<string>69dbe5e2491d8d6aa3b73dd1b6cc66c4fd8c576af9210d9784791e318b0a3bf8</string>
	<key>installer_item_location</key>
	<string>Sophos-8.0.21.dmg</string>
	<key>installer_item_size</key>
	<integer>106245</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Sophos</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>SophosAUCLI8.0.1.pkg</string>
			<key>installed_size</key>
			<integer>44</integer>
			<key>name</key>
			<string>Sophos AutoUpdate CLI Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sau.cli.8.0.1.installer</string>
			<key>version</key>
			<string>8.0.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAUSrv8.0.15.pkg</string>
			<key>installed_size</key>
			<integer>93068</integer>
			<key>name</key>
			<string>Sophos AutoUpdate Server Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sau.srv.8.0.15.installer</string>
			<key>version</key>
			<string>8.0.15</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVCLI2.07.348.0.pkg</string>
			<key>installed_size</key>
			<integer>228</integer>
			<key>name</key>
			<string>Sophos Anti-Virus Command Line Scanner Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.cli.4.94.0.installer</string>
			<key>version</key>
			<string>2.07.348.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVData4.96.pkg</string>
			<key>installed_size</key>
			<integer>66732</integer>
			<key>name</key>
			<string>Sophos Anti-Virus Virus Data Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.data.8.0.installer</string>
			<key>version</key>
			<string>4.96</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVFinderPlugin8.0.1.pkg</string>
			<key>installed_size</key>
			<integer>96</integer>
			<key>name</key>
			<string>Sophos Anti-Virus Immediate Scanner Finder Plugin Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.cmplugin.8.0.1.installer</string>
			<key>version</key>
			<string>8.0.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVImmediate8.0.21.pkg</string>
			<key>installed_size</key>
			<integer>12368</integer>
			<key>name</key>
			<string>Sophos Anti-Virus Immediate Scanner Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.gui.8.0.21.installer</string>
			<key>version</key>
			<string>8.0.21</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVOnAccess8.0.14.pkg</string>
			<key>installed_size</key>
			<integer>584</integer>
			<key>name</key>
			<string>Sophos Anti-Virus On-Access Scanner Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.ic.8.0.14.installer</string>
			<key>version</key>
			<string>8.0.14</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVSAVI2.07.348.0.pkg</string>
			<key>installed_size</key>
			<integer>28744</integer>
			<key>name</key>
			<string>Sophos Anti-Virus SAV Interface Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.savi.4.94.0.installer</string>
			<key>version</key>
			<string>2.07.348.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVSrv8.0.8.1.pkg</string>
			<key>installed_size</key>
			<integer>1148</integer>
			<key>name</key>
			<string>Sophos Anti-Virus Server Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.srv.8.0.8.1.installer</string>
			<key>version</key>
			<string>8.0.8.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosAVSUMScanKit8.0.8.1.pkg</string>
			<key>installed_size</key>
			<integer>820</integer>
			<key>name</key>
			<string>Sophos Anti-Virus Scan Kit Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.sav.sumscankit.8.0.8.1.installer</string>
			<key>version</key>
			<string>8.0.8.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosLibs7.2.0.pkg</string>
			<key>installed_size</key>
			<integer>16268</integer>
			<key>name</key>
			<string>Sophos Libraries Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.libs.7.2.0.installer</string>
			<key>version</key>
			<string>7.2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosRMSAUAdptr8.0.8.1.pkg</string>
			<key>installed_size</key>
			<integer>184</integer>
			<key>name</key>
			<string>Sophos Remote Management System SAU Adapter Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.rms.sau.8.0.8.1.installer</string>
			<key>version</key>
			<string>8.0.8.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosRMSAVAdptr8.0.5.pkg</string>
			<key>installed_size</key>
			<integer>140</integer>
			<key>name</key>
			<string>Sophos Remote Management System SAV Adapter Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.rms.sav.8.0.5.installer</string>
			<key>version</key>
			<string>8.0.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosRMSLibs.pkg</string>
			<key>installed_size</key>
			<integer>564</integer>
			<key>name</key>
			<string>Sophos Remote Management System Libraries Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.rms.libs.8.0.4.installer</string>
			<key>version</key>
			<string>8.0.4</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosRMSMgmtAgent.pkg</string>
			<key>installed_size</key>
			<integer>3660</integer>
			<key>name</key>
			<string>Sophos Remote Management System Agent Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.rms.agent.8.0.14.installer</string>
			<key>version</key>
			<string>8.0.14</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosRMSMsgRouter.pkg</string>
			<key>installed_size</key>
			<integer>4084</integer>
			<key>name</key>
			<string>Sophos Remote Management System Router Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.rms.router.8.0.8.installer</string>
			<key>version</key>
			<string>8.0.8</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosSecurityLibs7.2.0.pkg</string>
			<key>installed_size</key>
			<integer>2236</integer>
			<key>name</key>
			<string>Sophos Security Libraries Installer</string>
			<key>optional</key>
			<true/>
			<key>packageid</key>
			<string>com.sophos.security.7.2.0.installer</string>
			<key>version</key>
			<string>7.2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SophosUI8.0.21.pkg</string>
			<key>installed_size</key>
			<integer>652</integer>
			<key>name</key>
			<string>Sophos Anti-Virus UI Installer</string>
			<key>optional</key>
			<false/>
			<key>packageid</key>
			<string>com.sophos.ui.8.0.21.installer</string>
			<key>version</key>
			<string>8.0.21</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>8.0.21</string>
</dict>
</plist>
