<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>jwolf</string>
		<key>creation_date</key>
		<date>2014-09-29T13:41:55Z</date>
		<key>munki_version</key>
		<string>1.0.0.1864</string>
		<key>os_version</key>
		<string>10.9.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>pilot</string>
	</array>
	<key>description</key>
	<string>CoRD is a Mac OS X remote desktop client for Microsoft Windows computers using the RDP protocol.</string>
	<key>display_name</key>
	<string>CoRD</string>
	<key>installer_item_hash</key>
	<string>4496405dab1a7312c04f6094229946e849e5b675a48e102833a94fe4b549286d</string>
	<key>installer_item_location</key>
	<string>apps/CoRD/CoRD-0.5.7.dmg</string>
	<key>installer_item_size</key>
	<integer>3545</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>net.sf.cord</string>
			<key>CFBundleName</key>
			<string>CoRD</string>
			<key>CFBundleShortVersionString</key>
			<string>0.5.7</string>
			<key>CFBundleVersion</key>
			<string>5701</string>
			<key>path</key>
			<string>/Applications/CoRD.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>CoRD.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>CoRD</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.5.7</string>
</dict>
</plist>
